## DS501-1802 Phase 3 Capstone

## Bryan Bo Cao

### Github: https://github.com/BryanBo-Cao/data-science/tree/master/music-box/src/BryanBoCao_Code.ipynb

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
plt.style.use("ggplot")

In [24]:
event_data_file_path = '../data/event_ds.csv'
play_data_file_path = '../data/play_ds.csv'
search_data_file_path = '../data/search_ds.csv'
df_event = pd.read_csv(event_data_file_path)
df_play = pd.read_csv(play_data_file_path)
df_search = pd.read_csv(search_data_file_path)

In [32]:
df_event.head()

         uid event      song_id        date
0  168549867     P  5.33375e+06  2017-03-30
1  168550571     P            0  2017-03-30
2  168551397     P  7.14958e+06  2017-03-30
3  168551166     P  1.24466e+06  2017-03-30
4  168549867     P  4.25357e+06  2017-03-30

In [34]:
df_play.head()

         uid device      song_id        date play_time  song_length
0  168549867     ar  5.33375e+06  2017-03-30        15        294.0
1  168550571     ar            0  2017-03-30        24        251.0
2  168551397     ar  7.14958e+06  2017-03-30       215        215.0
3  168551166     ar  1.24466e+06  2017-03-30       235        235.0
4  168549867     ar  4.25357e+06  2017-03-30         0        234.0

In [29]:
df_search

Empty DataFrame
Columns: [uid, device, date]
Index: []